@charset"utf-8"
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Oleo+Script:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varta:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
*{scroll-behavior: smooth; box-sizing: border-box}

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 1s infinite alternate;
	stroke-width: 2;
	stroke: #FFFFFF;
	font-size: 66px;
}
@keyframes stroke {
	0%   {
		fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1); }
	80%  {fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1); stroke-width: 3; }
	100% {
		fill: rgba(255,255,255,1); stroke: rgba(255,255,255,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #000000};

*{box-sizing: border-box}
.container
{
	width:80%;
	margin: auto;
}
.row
{
	display: flex;
	flex-wrap:wrap;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.img-100{width: 100%;height: auto}
[class*="col-"]{
	padding: 15px;
	border: 1px ;
}
body
{
	background-color:hsla(44,97%,25%,1.00);
	font-family:"Lora", serif;
	 font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	color: hsla(0,4%,9%,1.00);
}
h1,h2{font-family: "Taviraj", serif;}

/*--------- style cho ipad---tablet-------*/
@media (min-width:768px)
{

	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}
.container{ width: 90%; margin: auto}

/*--------- style cho pc 1000 tro len-------*/
@media (min-width:1000px)
{

	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
	.container{ width: 80%; margin: auto}
	
.navbar
	{position: relative}
}
.navbar .btn-menu{
	position: absolute;
	right: 0;
	top: 40px
}
ul.menu{
	margin: 0;
	padding: 0;
	list-style: none
}
ul.menu li{
	position: relative
}
ul.menu li a{
	text-decoration: none;
	padding:10px;
	display: block;
	border-bottom:none;
	color: white
}
ul.menu li a:hover{
	background: hsla(42,97%,42%,1.00);
	color:white
}
@media(min-width:1000px)
{
	ui.menu{display: flex;margin-top: 40px}
	.navbar{
		display: flex;
		justify-content: space-between;
	}
	.btn-menu{display: none}
}
.banner{position: relative}
.banner-caption{
	position: absolute;
	top:4%;
	left:25%;color: aliceblue;
	width: 50%;
	text-align:center;	
}
@media(max-width:768px)
{
	.banner .img-100
	{height: 80vh
	width:175vw}

.banner-caption{top:15%;text-align: left}
.banner-caption h1{font-size:10vw;lline-height: 1.2;background: #FFFFFF;
background: linear-gradient(to bottom, #FFFFFF 0%, #B6BFB6 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-caption p{display:none}	
}
.thisinh{
	position:relative;
    overflow:hidden}
.thisinh-caption
{
	position: absolute;
	top: 10%;left: 10%;
	width: 50%;height: 80%;
	text-align: center;
	background: rgba(255,255,255,0.5);
	opacity:0;
	transition: all 1s;
	transform:scaleX(0)rotate(180deg)
}
.thisinh:hover>.thisinh-caption
{
	opacity:1;
	transform: scaleX(1)
}